* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v115_597 {
  width: 100%;
  height: 1640px;
  background: rgba(237,239,244,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v138_2 {
  width: 100%;
  height: 406px;
  background: url("../images/v138_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 873px;
  left: 0px;
  overflow: hidden;
}
.v140_4 {
  width: 604px;
  color: rgba(3,38,69,1);
  position: absolute;
  top: 215px;
  left: 320px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v144_519 {
  width: 423px;
  color: rgba(42,42,42,1);
  position: absolute;
  top: 309px;
  left: 321px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v140_5 {
  width: 100%;
  height: 584px;
  background: url("../images/v140_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 321px;
  overflow: hidden;
}
.v140_6 {
  width: 471px;
  height: 584px;
  background: url("../images/v140_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 302px;
  overflow: hidden;
}
.v140_7 {
  width: 471px;
  height: 584px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v140_8 {
  width: 382px;
  height: 516px;
  background: url("../images/v140_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 45px;
  overflow: hidden;
}
.v140_9 {
  width: 381px;
  height: 443px;
  background: url("../images/v140_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v140_10 {
  width: 380px;
  height: 125px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v140_11 {
  width: 173px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 333px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_12 {
  width: 185px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v140_13 {
  width: 155px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 143px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_14 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_15 {
  width: 185px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v140_41 {
  width: 381px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v140_16 {
  width: 105px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 48px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_42 {
  width: 97px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 235px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_17 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_43 {
  width: 260px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_18 {
  width: 185px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 195px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v140_38 {
  width: 185px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 196px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v140_19 {
  width: 130px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 48px;
  left: 215px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_39 {
  width: 51px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 143px;
  left: 216px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_20 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 215px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_40 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 216px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_21 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v140_22 {
  width: 380px;
  height: 44px;
  background: rgba(0,184,109,1);
  padding: 10px 33px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 0px;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  overflow: hidden;
}
.v140_23 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 161px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v140_24 {
  width: 390px;
  height: 246px;
  background: url("../images/v140_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 0px;
  overflow: hidden;
}
.v140_37 {
  width: 390px;
  height: 84px;
  background: url("../images/v140_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v140_29 {
  width: 80px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 0px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v140_30 {
  width: 345px;
  color: rgba(21,35,59,1);
  position: absolute;
  top: 30px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v140_31 {
  width: 28px;
  height: 35px;
  background: rgba(1,161,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
}
.v140_35 {
  width: 344px;
  height: 57px;
  background: url("../images/v140_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v140_25 {
  width: 164px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 0px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v140_26 {
  width: 299px;
  color: rgba(21,35,59,1);
  position: absolute;
  top: 30px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v140_32 {
  width: 28px;
  height: 28px;
  background: rgba(1,161,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
}
.v140_36 {
  width: 265px;
  height: 57px;
  background: url("../images/v140_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.v140_27 {
  width: 181px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 0px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v140_28 {
  width: 220px;
  color: rgba(21,35,59,1);
  position: absolute;
  top: 30px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v140_33 {
  width: 28px;
  height: 26px;
  background: rgba(1,161,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v185_54 {
  width: 100%;
  height: 276px;
  background: url("../images/v185_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1364px;
  left: 0px;
  overflow: hidden;
}
.v185_56 {
  width: 364px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 38px;
  left: 1187px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_57 {
  width: 93px;
  height: 26px;
  background: url("../images/v185_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1187px;
  overflow: hidden;
}
.v185_58 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 67px;
  border-radius: 50%;
}
.v185_59 {
  width: 27px;
  height: 26px;
  background: rgba(255,255,255,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-radius: 50%;
}
.v185_60 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v185_61 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
.v185_62 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 39px;
}
.v185_63 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 74px;
}
.v185_64 {
  width: 180px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 86px;
  left: 1187px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_65 {
  width: 295px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 74px;
  left: 320px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_66 {
  width: 166px;
  height: 181px;
  background: url("../images/v185_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 861px;
  overflow: hidden;
}
.v185_67 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v185_68 {
  width: 101px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 38px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_69 {
  width: 66px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 69px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_70 {
  width: 69px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 100px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_71 {
  width: 139px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 131px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_72 {
  width: 61px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 162px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v185_73 {
  width: 197px;
  height: 51px;
  background: url("../images/v185_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 320px;
  overflow: hidden;
}
.v185_74 {
  width: 197px;
  height: 38px;
  background: url("../images/v185_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v185_75 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
.v185_76 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 35px;
}
.v185_77 {
  width: 7px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 70px;
}
.v185_78 {
  width: 15px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 86px;
}
.v185_79 {
  width: 17px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 108px;
}
.v185_80 {
  width: 7px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 131px;
}
.v185_81 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 146px;
}
.v185_82 {
  width: 17px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 180px;
}
.v185_83 {
  width: 6px;
  height: 6px;
  background: rgba(0,113,243,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 3px;
}
.v185_84 {
  width: 6px;
  height: 6px;
  background: rgba(0,113,243,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 18px;
}
.v185_85 {
  width: 100%;
  height: 5px;
  background: rgba(0,113,243,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 0px;
  overflow: hidden;
}
.v337_51 {
  width: 100%;
  height: 120px;
  background: url("../images/v337_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_52 {
  width: 100%;
  height: 120px;
  background: rgba(237,239,244,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_53 {
  width: 197px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 320px;
  overflow: hidden;
}
.v337_54 {
  width: 178px;
  height: 35px;
  background: url("../images/v337_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_55 {
  width: 23px;
  height: 25px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
}
.v337_56 {
  width: 24px;
  height: 25px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 31px;
}
.v337_57 {
  width: 7px;
  height: 34px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
}
.v337_58 {
  width: 14px;
  height: 31px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 77px;
}
.v337_59 {
  width: 15px;
  height: 25px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 98px;
}
.v337_60 {
  width: 7px;
  height: 34px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
}
.v337_61 {
  width: 24px;
  height: 26px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 132px;
}
.v337_62 {
  width: 15px;
  height: 25px;
  background: rgba(3,38,69,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 163px;
}
.v337_63 {
  width: 5px;
  height: 5px;
  background: rgba(113,115,114,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 2px;
}
.v337_64 {
  width: 5px;
  height: 5px;
  background: rgba(113,115,114,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 15px;
}
.v337_65 {
  width: 44px;
  color: rgba(1,161,255,1);
  position: absolute;
  top: 49px;
  left: 619px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_66 {
  width: 98px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 49px;
  left: 700px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_67 {
  width: 47px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 49px;
  left: 533px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_68 {
  width: 62px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 49px;
  left: 450px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_69 {
  width: 305px;
  height: 55px;
  background: rgba(0,184,109,1);
  padding: 15px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 361px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v337_70 {
  width: 217px;
  color: rgba(237,239,244,1);
  position: absolute;
  top: 15px;
  left: 44px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v337_71 {
  width: 64px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 49px;
  left: 812px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_72 {
  width: 68px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 49px;
  left: 708px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_73 {
  width: 33px;
  color: rgba(113,115,114,1);
  position: absolute;
  top: 49px;
  left: 601px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_301 {
  width: 100%;
  height: 361px;
  background: url("../images/v337_301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1279px;
  left: 0px;
  overflow: hidden;
}
.v337_302 {
  width: 100%;
  height: 361px;
  background: rgba(9,12,23,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_303 {
  width: 350px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 128px;
  left: 1187px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_304 {
  width: 93px;
  height: 26px;
  background: url("../images/v337_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 1187px;
  overflow: hidden;
}
.v337_305 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 67px;
  border-radius: 50%;
}
.v337_306 {
  width: 27px;
  height: 26px;
  background: rgba(255,255,255,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-radius: 50%;
}
.v337_307 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v337_308 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
.v337_309 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 39px;
}
.v337_310 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 74px;
}
.v337_311 {
  width: 174px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 176px;
  left: 1187px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_312 {
  width: 295px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 164px;
  left: 320px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_313 {
  width: 165px;
  height: 184px;
  background: url("../images/v337_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 861px;
  overflow: hidden;
}
.v337_314 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v337_315 {
  width: 98px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 38px;
  left: 1px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_316 {
  width: 64px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 69px;
  left: 1px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_317 {
  width: 68px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 100px;
  left: 1px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_318 {
  width: 136px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 131px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_319 {
  width: 62px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 162px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v337_320 {
  width: 197px;
  height: 51px;
  background: url("../images/v337_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 320px;
  overflow: hidden;
}
.v337_321 {
  width: 197px;
  height: 38px;
  background: url("../images/v337_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_322 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
.v337_323 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 35px;
}
.v337_324 {
  width: 7px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 70px;
}
.v337_325 {
  width: 15px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 86px;
}
.v337_326 {
  width: 17px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 108px;
}
.v337_327 {
  width: 7px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 131px;
}
.v337_328 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 146px;
}
.v337_329 {
  width: 17px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 180px;
}
.v337_330 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 3px;
}
.v337_331 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 18px;
}
